section.about{
    background-color: var(--color-de-fondo2);
}
.about__container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.about__title {
    font-size: 32px;
    margin-bottom: 20px;
}
.about__paragraph {
    line-height: 1.2rem;
    margin-bottom: 10px;
}