/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu__header {
    display: flex;
    align-items: center;
}
.menu__list {
    display: none;
}
.menu__title {
    display: inline-block;
    font-weight: 700;
}
.menu__list__item {
    padding: 7px;
}
.menu__list__item a:active {
    color: white;
}


@media screen and (min-width: 1024px) {
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #menu__item__contacto {
        font-weight: 700;
    }
    .menu__list__item__contato {
        display: none;
    }
}