:root{
    --color-de-fondo: #eaeaea;
    --color-de-fondo2: #EAF2FD;
    --color-de-texto: #464646;
    --color-de-link: #000;
    --color-azul: #2A7AE4;
}

/* reset */
* {
	padding: 0;
	margin: 0;
}
/* border box fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway';
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--color-de-texto);
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        padding-left: calc((100% - 1120px)/2);
        padding-right: calc((100% - 1120px)/2);
    }
}
